version: '3.1'
services:
    sspanel:
        image: "dongcj/sspanel"
        restart: always
        container_name: sspanel         
        networks:
            - sspanel
        ports:
          - 666:80 
        volumes:
          - /opt/sspanel/code:/sspanel          
    sspanel-mysql:
        image: "mysql:5.6"
        restart: always
        container_name: sspanel-mysql
        environment:
          TZ: 'Asia/Shanghai'
          MYSQL_DATABASE: sspanel
          MYSQL_ROOT_PASSWORD: sspanel
        volumes:
          - /opt/sspanel/mysql:/var/lib/mysql
          - /opt/sspanel/code/sql/glzjin_all.sql:/docker-entrypoint-initdb.d/sspanel.sql
        command: ['mysqld', '--character-set-server=utf8mb4']          
        networks:
            - sspanel                          
networks:
    sspanel:
    
